<h1>Book your trip!</h1>

<%= form_for(@trip) do |f| %>
  <%= render partial: "layouts/errors", locals: {model: @trip}%>
  <%= render partial: "trip", locals: {trip: @trip, trains: @trains} %>
  <%= f.submit %>
<% end %>