<h1>All trains</h1>

<% @trains.each do |train| %>
  <div>
    Name: <%= link_to(train.name, train_path(train.id)) %>
    Origin: <%= train.from %>
    Destination: <%= train.to %>
    Seats available: <%= train.capacity.to_s %>
  </div>
<% end %>