<h1>Add new train</h1>

<%= form_for(@train) do |f| %>
  <%= render partial: "layouts/errors", locals: {model: @train}%>
  <%= render partial: "train", locals: {train: @train} %>
  <%= f.submit %>
<% end %>